html, body {
    margin: 0;
    height: 100%;
    align-items: center;
    background: #f5f5f2;
    color: #333;

    --active-bg: #f2bf78;
    --active-color: #212121;
    --active-hover-bg: #f4ad49;
    --active-hover-color: #141414;
    --button-bg: var(--active-hover-bg);
    --disabled-bg: #d9cdb4;
    --disabled-color: #525252;
}

header {
    background: #323232;
    color: #e9e9e9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    padding-top: 1em;
}

h1 {
    font-size: 1.5em;
}

input {
    margin: 0;
    height: 38px;
}


label,
label span {
    font-size: 12px;
    font-weight: 600;
}

.filepicker {
    position: relative;
}

.filepicker input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.input-file-text {
    height: 38px;
    padding: 8px 10px;
    background-color: #f3f0ee;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.active {
    background-color: var(--active-bg);
    color: var(--active-color);
}

button {
    background-color: var(--button-bg);
    color: var(--active-color);
    padding: 0 8px;
    margin: 0;
}

.active[disabled] {
    background-color: var(--disabled-bg);
    color: var(--disabled-color);
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    gap: 4px;
    padding: 4px 6px;
    border-radius: 4px;
    margin: 0;
}

label:has(input[type="radio"]:checked),
label:has(input[type="checkbox"]:checked) {
    background-color: var(--active-bg);
    color: var(--active-color);
}

label:not(.active):hover,
#playlist li:not(.active):hover {
    background: var(--active-hover-bg);
    color: var(--active-hover-color);
    cursor: pointer;
    border-color: #888;
}

#playlist_root {
    background: #e9e9e9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#audiopicker {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
}

.source-type-switcher {
    display: flex;
    flex-direction: column;
}

.source-type-switcher label > *:last-child {
    flex: 1;
}

.source-type-switcher label > span {
    white-space: nowrap;
}

.source-selector {
    display: none;
}


li:has(input[type="radio"]:checked) + .source-selector {
    display: block;
}

#player {
    background: #fff;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    padding: 0.5em 1em;
}

#player audio {
    flex: 1;
}

#playlist {
    background: #323232;
    color: #e9e9e9;
    flex: 1;
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
    gap: 1em;
    padding: 0.5em 1em;
}

.control-panel button {
    margin: 0;
    padding: 4px 6px;
    line-height: inherit;
    height: auto;
}

#playlist_root li {
    list-style-type: none;
    padding: 2px;
    margin: 0;
}

#playlist li {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    border-bottom: 1px solid #bbb;
    margin: 0 6px;
}

#playlist li:last-child {
    border-bottom: none;
}

#playlist li *:first-child {
    flex: 1;
}

#playlist li button {
    height: 2em;
    line-height: 1.5em;
}

